Source: project-builder
Section: admin
Priority: optional
Maintainer: Bruno Cornec <bruno@project-builder.org>
Build-Depends: debhelper (>= 4.2.20), fakeroot, dpkg-dev (>= 1.13)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.project-builder.org/mondo/svn/pb/0.11.3/project-builder
Vcs-Browser: http://trac.project-builder.org/browser/0.11.3/project-builder
Homepage: http://trac.project-builder.org

Package: project-builder
Architecture: all
Section: admin
Priority: optional
Depends: libdate-manip-perl, libfile-mimeinfo-perl, libprojectbuilder-perl
Recommends: libmail-sendmail-perl, libdbi-perl, libdbd-sqlite-perl, libparallel-forkmanager-perl
Suggests: liblinux-sysinfo-perl, libsys-cpu-perl, libnet-telnet-perl
Description: Project Builder helps providing multi-OSes Continuous Packaging
 ProjectBuilder aka pb helps producing packages
 for multiple OSes (Linux distributions, Solaris, ...).
 It does that by minimizing
 the duplication of information required and
 a set a very simple configuration files.
 It implements a Continuous Packaging approach.
 .

