#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
#
# $Id$
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# If set to a true value then MakeMaker's prompt function will
# always return the default without waiting for user input.
export PERL_MM_USE_DEFAULT=1

ifndef PERL
PERL = /usr/bin/perl
endif

# Define package name variable for a one-stop change.
PACKAGE_NAME = project-builder

build: build-stamp

build-stamp:
		dh_testdir

		# Add here commands to compile the package.
		$(PERL) Makefile.PL INSTALLDIRS=vendor PBKEYWORD=$(CURDIR)/PBFINALDIR MANDIR=/usr/share/man
		$(MAKE)
		touch $@

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp

		# Add here commands to clean up after the build process.
		-$(MAKE) distclean

		dh_clean

install: build
		dh_testdir
		dh_testroot
		dh_clean -k
		dh_installdirs

		# Add here commands to install the package into debian/linuxcoe-sd
		$(MAKE) install DESTDIR=$(CURDIR)/debian/project-builder

# Build architecture-dependent files here.
binary-arch: build install
	# We have nothing to do by default.
	#
# Build architecture-independent files here.
binary-indep: build install
			dh_testdir
			dh_testroot
			dh_installchangelogs ChangeLog
			dh_installdocs
			#       dh_installexamples
			#       dh_install
			#       dh_installmenu
			#       dh_installdebconf
			#       dh_installlogrotate
			#       dh_installemacsen
			#       dh_installpam
			#       dh_installmime
			#       dh_python
			#       dh_installinit
			#       dh_installcron
			#       dh_installinfo
			dh_installman
			dh_perl
			dh_strip
			dh_compress
			dh_fixperms
			#       dh_makeshlibs
			dh_installdeb
			#       dh_shlibdeps
			dh_gencontrol
			dh_md5sums
			dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
